<br>
<br>

<form [formGroup]="createBlogForm" (ngSubmit)="onPost()">
  
  <div class="form-group">
    <label for="">Title</label>
    <input type="text" class="form-control" formControlName="title">
  </div>

  <div class="form-group">
      <label for="">Description</label>
      <input type="text" class="form-control" formControlName="description">
  </div>

  <div class="form-group">
      <label for="">Blog Body</label>
      <textarea class="form-control" rows="3" formControlName="bodyHtml"></textarea>
  </div>

  <div class="form-group">
    <label for="">Author</label>
    <input class="form-control" formControlName="fullName">
  </div>
    

  <button type="submit" class="btn btn-primary">Post</button> |
  <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/blogs']">
            Cancel
    </button>


</form>