<br>
<br>
<div class="row justify-content-center">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" formControlName="firstName">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" formControlName="lastName">
            </div>
            <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control"formControlName="password">
            </div>
            <div class="form-group">
                <label>Mobile Number</label>
                <input type="text" class="form-control" formControlName="mobileNumber">
            </div>
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
</div>
