/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

@import  url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', sans-serif;
}

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}


input.ng-dirty.ng-invalid {
  border: 2px solid  #dc3545;
  box-shadow:none;
}

/* input.ng-dirty.ng-valid {
  border: 2px solid green;
  box-shadow:none;
} */
